@using Leak.Application.ViewModels.Utility;
@using Leak.Application.ViewModels.Post;
@model PaginatedElementsViewModel<PostViewModel>;

@{ 
    int id = (int)ViewData["BlogId"];
    string title = (string)ViewData["BlogTitle"];
    int currentPage = Model.CurrentPage;
    int nextPage = Model.CurrentPage + 1;
}

<!-- breadcrumb -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb">
                    <li>
                        <i class="fas fa-home"></i>
                        <a href="/">Baş Səhifə</a>
                    </li>
                    <li><i class="fas fa-angle-right"></i>@title</li>
                </ol>
            </div>
        </div>
        <!-- row end -->
    </div>
    <!-- container end -->
</div>
<!-- breadcrumb end -->

<section class="main-content category-layout-1 pt-0">
    <div class="container">
        <div class="row ts-gutter-30">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-12">
                        <h2 class="block-title">
                            <span class="title-angle-shap"> @title </span>
                        </h2>

                        @if (Model.Elements.Count > 0)
                        {
                            <div class="post-block-style">
                                <div class="post-thumb">
                                    <a href="/Post/@Model.Elements[0].Id/@Model.Elements[0].Title">
                                        <img class="img-fluid" src="@Model.Elements[0].HeaderPhotoPath" alt="">
                                    </a>
                                    <div class="grid-cat">
                                        @if (Model.Elements[0].Category != null)
                                        {
                                            <a class="post-cat health" href="#">@Model.Elements[0].Category.Title</a>
                                        }
                                    </div>
                                </div>

                                <div class="post-content">
                                    <h2 class="post-title title-lg">
                                        <a href="/Post/@Model.Elements[0].Id/@Model.Elements[0].Title">@Model.Elements[0].Title</a>
                                    </h2>
                                    <div class="post-meta mb-7">
                                        <span class="post-date"><i class="fas fa-clock-o"></i> @Model.Elements[0].PublishDate</span>
                                        <span class="view"><i class="fas fa-fire"></i> 354k</span>
                                    </div>
                                    <p>
                                        @Model.Elements[0].Content
                                    </p>
                                </div>
                                <!-- Post content end -->
                            </div>
                        }

                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                <div class="gap-30"></div>
                <div class="row ts-gutter-10">

                    @for (int i = 1; i < Model.Elements.Count; i++)
                    {
                        <div class="col-md-6">
                            <div class="post-block-style">
                                <div class="post-thumb">
                                    <a href="/Post/@Model.Elements[i].Id/@Model.Elements[i].Title">
                                        <img class="img-fluid" src="@Model.Elements[i].HeaderPhotoPath" alt="">
                                    </a>
                                    <div class="grid-cat">
                                        @if (Model.Elements[i].Category != null)
                                        {
                                            <a class="post-cat health" href="#">@Model.Elements[i].Category.Title</a>
                                        }
                                    </div>
                                </div>

                                <div class="post-content">
                                    <h2 class="post-title title-md">
                                        <a href="/Post/@Model.Elements[i].Id/@Model.Elements[i].Title">@Model.Elements[i].Title</a>
                                    </h2>
                                    <div class="post-meta mb-7">
                                        <span class="post-date"><i class="fas fa-clock-o"></i> @Model.Elements[i].PublishDate</span>
                                    </div>
                                    <p>@Model.Elements[i].Content </p>
                                </div>
                                <!-- Post content end -->
                            </div>
                        </div>
                    }
                </div>
                <!-- row end -->
                <div class="gap-30 d-none d-md-block"></div>
                <div class="row">
                    <div class="col-12">
                        <ul class="ts-pagination">
                            @for (int i = 1; i <= Model.MaxPage; i++)
                            {
                                @if (i == currentPage)
                                {
                                    <li>
                                        <a asp-route-id="@id"
                                           asp-route-title="@title"
                                           asp-route-page="@i"
                                           class="active">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-route-id="@id"
                                           asp-route-title="@title"
                                           asp-route-page="@i">@i</a>
                                    </li>
                                }
                            }

                            @if (Model.MaxPage > currentPage)
                            {
                                <a asp-route-id="@id"
                                   asp-route-title="@title"
                                   asp-route-page="@nextPage"><i class="fas fa-angle-right"></i></a>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!-- col-lg-8 -->
            <div class="col-lg-4">
                <div class="sidebar">
                    @Html.PartialAsync("_Social").Result

                    <div class="sidebar-widget ads-widget mt-20">
                        <div class="ads-image">
                            <a href="#">
                                <img class="img-fluid" src="/images/banner-image/image2.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- widget end -->

                    @Html.PartialAsync("_InterestingPosts").Result
                    <!-- widget end -->
                </div>
                <!-- widget end -->

            </div>
        </div>
        <!-- sidebar col end -->
    </div>
    <!-- row end -->
    </div>
    <!-- container end -->
</section>
<!-- category-layout end -->
